# Ignore .env files (environment variables)
.env

# Ignore virtual environments
.venv/

# Ignore VS Code settings directory
.vscode/

# Ignore parquet files
*.parquet

# Ignore history folder or file
.history/
.history

# Ignore CSV files
*.csv
